@font-face {
    font-family: inter;
    src: url(../assets/inter.ttf);
}
* {
    font-family: inter;
    margin: 0;
    padding: 0;
}
div.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
div.title {
    font-size: 24px;
    font-weight: bold;
}
div.greenbtn {
    background-color: #76B900;
    color: black;
    border-radius: 2px;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}
div.greenbtn:hover {
    background-color: #70b100d2;
}
div.blackbtn {
    background-color: #141212;
    color: white;
    border-radius: 2px;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}
div.blackbtn:hover {
    background-color: #2a2727;
}

.viptext {
    background-color: #76B900;
}
a,a:visited {
    text-decoration: none;
    color: white;
}
